body {
  background-color: #282828;
  color: #FF0000;
  border: 2px solid #FF0000;
  align-items: center;
  justfiy-content: center;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  height: 180px;
  width: 280px;
  padding: 10px;
}

h1 {
  font-size: 25px;
  margin: 10px 0;
}

#load {
  font-size: 8px;
  letter-spacing: 1px;
  padding: 3px 4px;
  color: #282828;
  background-color: #FF0000;
  cursor: pointer;
}

#load:hover {
  opacity: 0.8;
}

#status {
  margin-top: 20px;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

fieldset {
  border: 0;
}

input[type=text] {
    padding:5px;
    border: 1px solid #282828;
    cursor: no-drop;
}

input[type=text]:focus {
    border-color:#282828;
}

input[type=submit] {
    letter-spacing: 1px;
    padding:5px 7px;
    background:#FF0000;
    border:0 none;
    cursor: no-drop;
}

input[type=submit]:hover {
  opacity: 1;
}
